<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302314920932-modtnhandemiu1cfdc0lfcnr5h0n2nn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302314920932-modtnhandemiu1cfdc0lfcnr5h0n2nn4</string>
	<key>API_KEY</key>
	<string>AIzaSyDP2avIqxO2kNp_xw6p2wqaxf6OcWPCBe4</string>
	<key>GCM_SENDER_ID</key>
	<string>302314920932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>arcade.city.rides</string>
	<key>PROJECT_ID</key>
	<string>arcade-city-57220</string>
	<key>STORAGE_BUCKET</key>
	<string>arcade-city-57220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:302314920932:ios:ec2bd63896cda090</string>
	<key>DATABASE_URL</key>
	<string>https://arcade-city-57220.firebaseio.com</string>
</dict>
</plist>
